@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="js/global.js?v=20180212-6"></script>
<script src="js/user.js?v=20180212-6"></script>
<h1>User List</h1>
<p id="msg"></p>
<div id="user-list"></div>
<br/>
<h2>Register User</h2>
<form>
    <table>
        <tr>
            <td>Id:</td>
            <td><input id="id" type="text" /></td>
        </tr>
        <tr>
            <td>user :</td>
            <td><input id="name" type="text" /></td>
        </tr>
        <tr>
            <td colspan="2">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <input type="button" id="insert" 
                       value="Insert" />
                <input type="button" id="update" 
                       value="Update" />
                <input type="button" id="delete" 
                       value="Delete" />
            </td>
        </tr>
    </table>
</form>

<h2>Associate Address to User</h2>
<form>
    <table>
        <tr>
            <td>Id:</td>
            <td><input id="idAddress" type="text" /></td>
        </tr>
        <tr>
            <td>Address:</td>
            <td><select id="addresses"></select></td>
        </tr>
        <tr>
            <td colspan="2">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <input type="button" id="link" 
                       value="Link" />
                <input type="button" id="unlink" 
                       value="Unlink" />
            </td>
        </tr>
    </table>
</form>